body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
    cursor: pointer;
  }
  
  nav ul li.active {
    font-weight: bold;
  }
  
  nav ul li:hover {
    text-decoration: underline;
  }
  
  main {
    padding: 20px;
  }
  
  .section {
    display: none;
  }
  
  .active {
    display: block;
  }
  
  .content {
    display: flex;
    flex-wrap: wrap;
  }
  
  .item {
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  .item img {
    width: 150px;
    height: auto;
  }
  
  h2 {
    margin-top: 0;
  }
  
  footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  